body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Caveat Brush', cursive;

}

h1 {
  font-family: 'Permanent Marker', cursive;
}

h1:after {
    content: ""; 
    display: block;
    margin: 0 auto;
    width: 33%;
    border-bottom: 2px solid white;
}

ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #000;
  color: #fff;
}

#intro {
  width: 50%;
  margin: 0 auto;
  font-size: 24px;
}

#navbar {
    font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}

#hotlineBling {
  text-align: center; 
  font-size: 24px;
  color: #fff;
}
